<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/admin.css">
<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/9/91/PlayStation_App_Icon.jpg">
<script src="https://cdn.tiny.cloud/1/tgfa89yfovqhkmb41kw9f6bt8v5pq9wjirve8sjq9yzonmej/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<title>Admin - Devices</title>
</head>
<body>

    <%- include('partials/headerAdmin.ejs') %>

    <section class="addNewSth">
        <div class="container">
                                <!-- enctype="multipart/form-data" -->
            <form action="/playstation/admin/devices" method="post" enctype="multipart/form-data">
                <div class="row">
                    
                    <div class="col col-md-12">
                        <h3>Add New Devices</h3>
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Name Deviece</label>
                        <input type="text" name="name" value="1" id="" class="form-control" required>
                    </div>
                     <div class="col col-md-6 mt-3 ">
                        <label for="" class="label-label">Producer</label>
                        <input type="text" name="producer" value="1" id="" class="form-control">
                        
                    </div>  

                     <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Image Deviece</label>
                        <input type="file" name="image" id="" class="form-control imgs" accept="image/jpg" required>
                    </div>

                     <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Price</label>
                        <input type="number" value="1" name="price" id="" class="form-control" required>
                    </div>

                    <div class="col col-md-12 mt-3">
                        <!-- <label for="" class="label-label">Price</label> -->
                        <p>Image details</p>
                        <input type="file" name="images" id="imgDetails" class="form-control" accept="image/*" multiple>
                        <div class="d-flex mt-3">
                            <input type="text" name="nameImg" class="form-control nameImg d-none mb-3" value="">
                            <button type="button" class="btn_AddImg fs-4">+</button>
                            <div class=" arrImg d-flex"></div>
                        </div>
                    </div>
                    
                    <div class="col col-md-6 mt-3">
                        <label for="number" class="label-label">Warranty (Years)</label>
                        <input type="number" value="1" name="warranty" id="" class="form-control" required>
                    </div>

                    <div class="col col-md-6 mt-3">
                        <label for="date" class="label-label">Quantity</label>
                        <input type="number" value="1" name="quantity" id="" class="form-control" required>
                    </div>
                    
                    <div class="col col-md-12 mt-3">
                        <label for="" class="label-label">Description</label>
                        <!-- <textarea id="mytextarea"  name="description"></textarea> -->
                        <input type="text" class="form-control" name="description" value="1" required>
                    </div>
                     
                    <div class="">
                        <button class="btn bg-green text-light mt-4 me-3 btn_confirm" name="btn_type" value="1" style="width: 130px;height: 40px;"><i class="fa-solid fa-check text-light me-3"></i>Confirm</button>
                        <button type="button" class="btn bg-danger text-light mt-4 cancle" style="width: 130px;height: 40px;"><i class="fa-solid fa-x me-3"></i>Cancle</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


     <section>
        <div class="container-fluid">
            <div class="row">
                <%- include('partials/navbarAdmin.ejs') %>

                <div class="col col-md-10 mt-5 text-center">
                    <div class="head">
                        <h2>Devices List</h2>
                    </div>

                    <div class="add text-start mt-3 mb-4">
                        <button class="bg-green text-light px-3 py-2 bd-rd-05 addDevices"><i class="fa fa-plus" aria-hidden="true"></i> Add device</button>
                    </div>

                    <div class="list">
                        <table class="table table-light text-dark table-hover text-start f-fm">
                            <thead class="thead-light fs-4">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Devices</th>
                                    <th>Manufacturer</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Warranty</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach(item => { %>
                                    <tr>
                                        <th><%= item.ID %></th>
                                        <th><img src="/imageProduct/<%= item.HINHANH %>" class="bd-rd" style="width: 60px;height: 60px;" alt=""></th>
                                        <th class="pt-4"><%= item.TENSP %></th>
                                        <th class="pt-4"><%= item.NSX %></th>
                                        <th class="pt-4">$<%= item.GIATIEN %></th>
                                        <th class="pt-4"><%= item.SOLUONG %></th>
                                        <th class="pt-4"><%= item.BAOHANH %> Years</th>
                                        <th class="pt-4 d-flex pb-3">
                                            <a href="/playstation/admin/devices/<%= item.ID %>" class="btn btn-warning"><i class="fa fa-eye text-light" aria-hidden="true"></i></a>
                                            <button class="btn bg-green mx-2"><i class="fa fa-pen text-light" aria-hidden="true"></i></button>
                                            <form action="/playstation/admin/devices/delete/<%= item.ID %>" class="" method="post" onsubmit="return confirm('You want to remove it?')">
                                                <button class="btn btn-danger"><i class="fa fa-trash text-light" aria-hidden="true"></i></button>
                                            </form>
                                        </th>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- list -->

                </div>
                <!-- text-center -->

            </div>
            <!-- row -->
        </div>
    </section>

    
    <script>
    
    /*
      Lấy tên ảnh vừa chọn - Show Ảnh tạm thời

      B1: Bắt sự kiện change
      B2: 

    */    
    
    tinymce.init(
        {
            selector: 'textarea#mytextarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            height: 800, // Chiều cao của vùng soạn thảo
        });

        // ============= BOX ADD =================//
        var addDevice = document.querySelector('.addDevices');
        var boxADd = document.querySelector('.addNewSth');
        var cancleAdd = document.querySelector('.cancle');
        addDevice.addEventListener('click',()=>{
            boxADd.style.display = 'block';
        })

        cancleAdd.addEventListener('click',()=>{
            boxADd.style.display = 'none';
        })

        // ============ Input Image ================//
        var btn_AddImg = document.querySelector('.btn_AddImg');
        var input_FileImg = document.getElementById('imgDetails');
        var boxImg = document.querySelector('.arrImg');
        var newAddImage = document.querySelector('.img-add');
        var input_nameImg = document.querySelector('.nameImg');
        var btn_confirm = document.querySelector('.btn_confirm');

        btn_AddImg.addEventListener('click',()=>{
            input_FileImg.click();
        })
        var array_nameImg = [];
        var name_Img = "";
        var count = 0;
        input_FileImg.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                var newImage = document.createElement('img');
                var newBox = document.createElement('div');
                // newBox.classList.add('d-inline')
                newBox.classList.add('box-add')
                newImage.classList.add('img-add');
                
                const reader = new FileReader();
                reader.addEventListener('load', function() {
                    newImage.src = reader.result ;
                    newImage.alt = count;
                    count++;
                    array_nameImg.push(JSON.stringify({"image": file.name}));
                    name_Img = file.name;
                    
                });
                reader.readAsDataURL(file);
                newBox.appendChild(newImage);
                boxImg.appendChild(newBox);
                
            } else {
                previewImage.src = '#';
            }
        });

        boxImg.addEventListener('click',event =>{
            var target = event.target;

            if (target.tagName === 'IMG' && target.classList.contains('img-add')) 
            {
                count--;
                array_nameImg.splice(count,1);
                console.log(array_nameImg);
                target.remove();

            }
        })
           
        btn_confirm.addEventListener('click',()=>{
            input_nameImg.value = '['+array_nameImg+']';
            console.log(input_nameImg);
        })

    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>