<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/admin.css">
<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/9/91/PlayStation_App_Icon.jpg">

<title>Game List</title>
</head>
<body>

    <%- include('partials/headerAdmin.ejs') %>
    

    <section class="addNewSth">
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col col-md-12">
                        <h3>Add New Game</h3>
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Name Game</label>
                        <input type="text" name="name" id="" class="form-control" required>
                    </div>
                    <div class="col col-md-6 mt-3 ">
                        <label for="" class="label-label">Category</label>
                        <input type="checkbox" class="ms-3" name="" id="chbox_category" value="">
                        <select class="form-select select_ctr" name="category">
                            <% data.category.forEach(item => { %>
                                <option value="<%= item.theLoai %>"><%= item.theLoai %></option>
                            <% }) %>
                        </select>

                        <input type="text" name="category" id="" class="form-control input_text_ctr">

                    </div>

                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Image game</label>
                        <input type="file" name="image" id="" class="form-control" accept="image/jpg" required>
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Price</label>
                        <input type="text" name="price" id="" class="form-control" required>
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="date" class="label-label">Launch Date</label>
                        <input type="date" name="date" id="" class="form-control" required>
                    </div>
                    <div class="col col-md-12 mt-3">
                        <label for="" class="label-label">Description</label>
                        <textarea id="" name="description" rows="4" cols="56" class="form-control" required></textarea>
                    </div>
                    <div class="">
                        <button class="btn bg-green text-light mt-4 me-3" name="btn_type" value="formAdd" style="width: 130px;height: 40px;"><i class="fa-solid fa-check text-light me-3"></i>Confirm</button>
                        <button type="button" class="btn bg-danger text-light mt-4 cancle" style="width: 130px;height: 40px;"><i class="fa-solid fa-x me-3"></i>Cancle</button>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <!-- Change/Replace Product -->
     <section class="changeSth">
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col col-md-12">
                        <h3>Change Information Game</h3>
                    </div> 
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">ID</label>
                        <input type="text" value="" name="idGame" id="idGame" readonly class="form-control">
                    </div> 
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Name Game</label>
                        <input type="text" value="" name="name" id="name" class="form-control" required>
                    </div> 
                    
                    <div class="col col-md-6 mt-3 ">
                        <label for="" class="label-label">Category</label>
                        <input type="checkbox" class="ms-3" name="" id="chbox_category_change" value="">
                       
                        <select class="form-select select_ctr_change" name="category" id="category">
                            <% data.category.forEach(item => { %>
                                <option value="<%= item.theLoai %>"><%= item.theLoai %></option>
                            <% }) %>
                        </select>

                        <input type="text" name="category" id="" class="form-control input_text_ctr_change" disabled>

                    </div>
                    
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Image game</label>
                        <input type="file" name="image" id="image" class="form-control" accept="image/jpg" >
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="" class="label-label">Price</label>
                        <input type="text" value="" name="price" id="price" class="form-control" required>
                    </div>
                    <div class="col col-md-6 mt-3">
                        <label for="date" class="label-label">Launch Date</label>
                        <input type="date" value="" name="dateProduct" id="dateInput" class="form-control dateInput" required>
                    </div>
                    <div class="col col-md-12 mt-3">
                        <label for="" class="label-label">Description</label>
                        <textarea id="description" value="" name="description" rows="4" cols="56" class="form-control" required></textarea>
                    </div>
                    <div class="">
                        <button class="btn bg-green text-light mt-4 me-3" name="btn_type" value="formChange" style="width: 130px;height: 40px;"><i class="fa-solid fa-check text-light me-3"></i>Confirm</button>
                        <button type="button" class="btn bg-danger text-light mt-4 cancle_1" style="width: 130px;height: 40px;"><i class="fa-solid fa-x me-3"></i>Cancle</button>
                    </div>
                </div>
            </form>
        </div>
    </section> 

    <section>
        <div class="container-fluid">
            <div class="row">
                <%- include('partials/navbarAdmin.ejs') %>

                <div class="col col-md-10 mt-5 text-center">
                    <div class="head">
                        <h2>Game List</h2>
                    </div>

                    <div class="add text-start mt-3 mb-4">
                        <button class="addGame bg-green text-light px-3 py-2 bd-rd-05 "><i class="fa fa-plus" aria-hidden="true"></i> Add Game</button>
                    </div>

                    <div class="list">
                        <table class="table table-light text-dark table-hover text-start f-fm">
                            <thead class="thead-light fs-4">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Name Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Launch Date</th>
                                    <th>Dashboard</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% data.game.forEach(item => { %>
                                    <tr>
                                        <th class="idSP"><%= item.ID %></th>
                                        <th><img src="/imageGame/<%= item.hinhNen %>" class="bd-rd" style="width: 60px;height: 60px;" alt=""></th>
                                        <th class="pt-4"><%= item.tenGame %></th>
                                        <th class="pt-4"><%= item.theLoai %></th>
                                        <th class="pt-4">$<%= item.gia %></th>
                                        <th class="pt-4"><%= item.ngayRaMat.toDateString() %></th>
                                        <th class="pt-4 d-flex mb-0 pb-3">
                                            <button  class="btn btn-warning me-1"><i class="fa fa-eye text-light" aria-hidden="true"></i></button>
                                            <button onclick="getProductDetails('<%= item.ID %>')" class="btn bg-green change me-1" value="<%= item.ID %>"><i class="fa fa-pen text-light" aria-hidden="true"></i></button>
                                            <form action="/playstation/admin/gameManagement/delete/<%= item.ID %>" class="d-inline me-1" method="post" onsubmit="return confirm('You want to remove it?')">
                                                <button class="btn btn-danger px-3 me-1"><i class="fa fa-trash text-light" aria-hidden="true"></i></button>
                                            </form>
                                            <form action="/playstation/admin/gameManagement/addTable/<%= item.ID %>" method="post" class="d-inline" onsubmit="return confirm('Are you sure?')">
                                                    <div class="">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                            <button class="dropdown-item" value="new-release" name="typeForm">New release</button>
                                                            <button class="dropdown-item" value="coming-soon" name="typeForm">Coming soon</button>
                                                        </ul>
                                                    </div>
                                            </form>
                                        </th>

                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </section>




<script>
    var addGames = document.querySelector('.addGame');
    var boxChange = document.querySelector('.changeSth');
    var boxAdd = document.querySelector('.addNewSth');
    var cancleBox = document.querySelector('.cancle');
    var cancleBox_Change = document.querySelector('.cancle_1');

    var btn_Change = document.querySelectorAll('.change');

    addGames.addEventListener('click',()=>{
            boxAdd.style.display = 'block';
    })

    cancleBox.addEventListener('click',()=>{
            boxAdd.style.display = 'none';
    })

   
    // ------------------------ Input ---------------------------//
        var idProduct = document.getElementById('idGame');
        var nameProduct = document.getElementById('name');
        var categoryProduct = document.getElementById('category');
        var imageProduct = document.getElementById('image');
        var priceProduct = document.getElementById('price');
        var dateInput = document.querySelector('.dateInput');
        var descriptionProduct = document.getElementById('description');
        
    function getProductDetails(id) {
            fetch(`/playstation/admin/gameManagement/${id}`)
                .then(response => response.json())
                .then(data => {
                    idProduct.value = `${id}`;
                    nameProduct.value = data.tenGame;
                    categoryProduct.value = data.theLoai;
                    priceProduct.value = data.gia;
                    dateInput.value = data.ngayRaMat.split("T")[0];
                    descriptionProduct.value = data.moTa;
                })
                .catch(error => console.error('Error:', error));

            boxChange.style.display = 'block';
    }
    

     cancleBox_Change.addEventListener('click',()=>{
            boxChange.style.display = 'none';
    })


    var input_ctr = document.querySelector('.input_text_ctr');
    var input_ctr_change = document.querySelector('.input_text_ctr_change');
    
    var select_ctr = document.querySelector('.select_ctr');
    var select_ctr_change = document.querySelector('.select_ctr_change');

    var checkBox_ctr = document.getElementById('chbox_category');
    var checkBox_ctr_change = document.getElementById('chbox_category_change');


         checkBox_ctr.addEventListener('click',()=>
         {
            if(checkBox_ctr.checked)
            {
                select_ctr.disabled = true;
                select_ctr.style.display = 'none';
                input_ctr.style.display = 'block';
                input_ctr.disabled = false;
            }
            
            if(!checkBox_ctr.checked)
            {
            select_ctr.disabled = false;
            select_ctr.style.display = 'block';
            input_ctr.style.display = 'none';
            input_ctr.disabled = true;
            }
        })

        // Change Info Game
         checkBox_ctr_change.addEventListener('click',()=>
         {
            if(checkBox_ctr_change.checked)
            {
                select_ctr_change.disabled = true;
                select_ctr_change.style.display = 'none';
                input_ctr_change.style.display = 'block';
                input_ctr_change.disabled = false;
            }
            
            if(!checkBox_ctr_change.checked)
            {
            select_ctr_change.disabled = false;
            select_ctr_change.style.display = 'block';
            input_ctr_change.style.display = 'none';
            input_ctr_change.disabled = true;
            }
        })

   
        

    

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>