<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>




<%- include('partials/link') %>

<script src="https://cdn.tiny.cloud/1/tgfa89yfovqhkmb41kw9f6bt8v5pq9wjirve8sjq9yzonmej/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>



<title>News</title>
</head>
<body>
    <%- include('partials/navbar') %>


    <section class="bg-light mt-5 mb-5"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-2">
                    <h1>TOOLS</h1>
                </div>
                <div class="col col-md-10">
                    <form action="/test/noiDung" method="post">
                        <!-- <textarea id="mytextarea"  name="content"></textarea> -->
                         <input type="text" name="content" id="" class="form-control">
                         <button id="submitBtn" class="btn btn-success px-5 mt-5">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col col-8">
                    <div class="">
                        <h1>Add Nội dung</h1>
                        <form action="/test/noiDung/<%= data.list.ID %>" method="post">
                            <input type="text" name="cnt" class="form-control mt-3" id="">
                            <button class="btn btn-success mx-3 mt-3" name="add" value="btn_Add">Add</button>
                        </form>

                        <h1>- List</h1>
                            <h2>ID: <%= data.list.ID %></h2>
                            <% data.image.book.forEach((item,index) => { %>
                                <div class="box shadow p-3 my-4">
                                    <p>☺<%= item.image %></p>
                                    <div class="d-flex">
                                        <form action="/test/noiDung/<%= data.list.ID %>" class="" method="post">
                                            <input type="text" value="" name="text" id="" class="form-control">
                                            <button class="btn btn-warning  mt-3" name="location" value="<%= index %>">Replace</button>      
                                            <button class="btn btn-danger mx-3 mt-3" name="del" value="<%= index %>">Delete</button>
                                            

                                            <!-- <input type="text" name="cnt" class="form-control mt-3" id="">
                                            <button class="btn btn-success mx-3 mt-3" name="add" value="btn_Add">Add</button> -->

                                          </form>
                                    </div>

                                </div>
                            <% }) %>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>

<script>
    tinymce.init({
        selector: 'textarea#mytextarea',
        plugins: 'autolink lists link image',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image',
        height: 900, // Chiều cao của vùng soạn thảo
        width: 1200
    });

</script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>