<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/admin.css">
<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/9/91/PlayStation_App_Icon.jpg">

<title><%= arr.name %></title>
</head>
<body>

    <%- include('partials/headerAdmin.ejs') %>
    
    <section>
        <div class="container-fluid">
            <div class="row">
                <%- include('partials/navbarAdmin.ejs') %>

                <div class="col col-md-10 mt-5 text-center">
                    <div class="head">
                        <h2><%= arr.name %></h2>
                    </div>

                    <div class="list mt-5 pt-4">
                        <table class="table table-light text-dark table-hover text-start f-fm">
                            <thead class="thead-light fs-4">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Name Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Launch Date</th>
                                    <th class="text-center">Dashboard</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% arr.data.forEach(item => { %>
                                    <tr>
                                        <th><%= item.ID %></th>
                                        <th><img src="/imageGame/<%= item.hinhNen %>" class="bd-rd" style="width: 60px;height: 60px;" alt=""></th>
                                        <th class="pt-4"><%= item.tenGame %></th>
                                        <th class="pt-4"><%= item.theLoai %></th>
                                        <th class="pt-4">$<%= item.gia %></th>
                                        <th class="pt-4"><%= item.ngayRaMat.toDateString() %></th>
                                        <th class="pt-4 text-center">
                                            <button class="btn btn-danger"><i class="fa fa-trash text-light" aria-hidden="true"></i></button>
                                        </th>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>